<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Engine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <form>
        <input type="text" id="livebox" name="inputsearch">
        <textarea id="testing" name="testing"></textarea>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
    </form>
    <!--
    <div class="buttons">
        <button class="button" type="button" onclick="showOptions()">Options</button>
    </div>
    <div class="optionsBox">
        <div class="externalDoc">
            <p>Include External Documents (URL)</p>
            
            <textarea name="message" rows="10" cols="30" placeholder="Input list of urls"></textarea> 
            <textarea name="message"></textarea>
            <input type="submit">
        </div>
        <div class="internalDoc">
            <label for="fname">Number of Internal Document: </label>
            <input></input>
            
        </div> 
    </div> -->
    <div id="searchres">
    </div>
</body>
<script src="static/js/main.js"></script>
</html>